@import 'normalize.css'; 
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400&display=swap');

:root{

}

html{
    height: 100%;
    font-size: 62.5%;
    font-family: 'Inter Tight', sans-serif;
    background-color: '#f8f8f8';
}

body{
    font-size: 1.6rem;
}

